{
  "Name":    "scumbag_bot",
  "Server":  "irc.example.com:6667",
  "Channel": "#scumbag",

  "Database": {
    "Host": "localhost",
    "Name": "scumbag",
    "User": "database_user",
    "Password": "database_password"
  }
}
