{
  "Servers": [
    {
      "Name":    "scumbag_bot",
      "Server":  "irc.example.com:6667",
      "Channels": ["#scumbag", "#scumbag_two"]
    },

    {
      # Another (optional) server config.
    }
  ],

  "Admins": [ "admin_nick", "another_admin" ],

  "LogLevel": "Info",

  "Database": {
    "Name": "scumbag",
    "User": "database_user",
    "Password": "database_password"
  },

  "Twitter": {
    "AccessToken": "foo_token"
  },

  "WeatherUnderground": {
    "Key": "foo_key"
  }
}
